<div class="container-fluid">
  <div class="row welcome">
    <div class="col-xl-6 col-lg-12">
      <h1>Welcome!</h1>
      <h3>What do you wanna eat?</h3>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <form (submit)="onSearch($event, searchQuery.value)">
          <div class="input-group">
            <div class="col-sm-8">
              <input
                #searchQuery
                class="form-control"
                type="text"/>
            </div>
            <div class="col-sm-4">
              <button
                class="btn btn-lg"
                type="submit">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row categories">
      <div
        *ngFor="let category of categories"
        class="col-sm-4 col-lg-2 category">
        <a [routerLink]="['/menu']"
           [queryParams]="{category: category.name}" >
          <div class="card-body categoryName">
            <h5 class="card-title">{{category.name | titlecase}}</h5>
          </div>
          <img class="categoryImage card-img-bottom"
               src="{{category.image}}">
        </a>
      </div>
    </div>
  </div>
</div>
